[user]
    name = John Doty
    email = john@d0ty.me

[include]
    path = .gitconfig.shared
[credential "https://github.com"]
    helper =
    helper = !/opt/local/bin/gh auth git-credential
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/opt/local/bin/gh auth git-credential
    helper = !/usr/bin/gh auth git-credential
[github]
    user = DeCarabas
