*.elc
.DS_Store
.config/.isolated-storage
.config/.mono
.config/AWSVPNClient
.config/Code
.config/NuGet/nugetorgadd.trk
.config/StardewValley/Saves
.config/VS Code @ FB
.config/beets/state.pickle
.config/buck/
.config/configstore/nodemon.json
.config/configstore/update-notifier-npm.json
.config/configstore/update-notifier-yo.json
.config/deluge/deluged.log
.config/deluge/deluged.pid
.config/deluge/ssl/
.config/deluge/state/
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/fishd*
.config/fish/functions
.config/fish/generated_completions
.config/htop/htoprc
.config/stetic
.config/wireshark/recent
.config/wireshark/recent_common
.config/xbuild/pkgconfig-cache-2.xml
.emacs.d/.cache
.emacs.d/.python-environments/
.emacs.d/eln-cache
.emacs.d/ido.last
.emacs.d/server
.emacs.d/url/cookies
.ipython/profile_default/history.sqlite
_viminfo
vscode/History
vscode/globalStorage
vscode/workspaceStorage
