.aptitude/
.bash_history
.bash_logout
.bitcoin/
.cache/
.config/fish/fish_history
.config/fish/fishd*
.config/fish/generated_completions
.histfile
.ido.last
.landscape/
.lesshst
.links2/
.mysql_history
.sabnzbd/
.sickbeard/
.ssh/
.subversion/
.w3m/
.zcompdump
bifrost
bin/
newznab/
sabnzbd/
src/
test/

*~
