.config/fish/fish_history
.config/fish/fishd*
.config/fish/generated_completions
.config/.mono
.config/NuGet/nugetorgadd.trk
.config/StardewValley/Saves
.config/stetic
.config/xbuild/pkgconfig-cache-2.xml
.config/.isolated-storage
_viminfo
.emacs.d/url/cookies
.emacs.d/ido.last
.emacs.d/server
